.container {
  width: 1100px;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px rgb(36, 74, 139);
  font-size: 25px;
}
.thead {
  height: 50px;
  background-color: rgb(42, 188, 207);
  color: #fff;
  text-transform: uppercase;
}
tbody tr {
  height: 60px;
}
tr td:first-child {
  text-transform: capitalize;
}
tbody tr:nth-child(even) {
  background-color: rgb(203, 212, 233);
}
